.todo-wrapper {
  font-family: Arial, sans-serif;
  text-align: center;
  padding: 10px;
  width: 100%;
  max-width: 1000px;
  margin: 10px auto;
  border: 1px solid #cccccc;
  max-height: calc(100ch - 20px);
  overflow-y: auto;
  overflow-x: hidden;
}
.todo-wrapper h1{
  margin-bottom: 10px;
}

.todo-input {
  margin-bottom: 20px;
}

.todo-input input {
  padding: 10px;
  width: 300px;
  margin-right: 10px;
  border: 1px solid #ccc;
}

.todo-input button {
  padding: 10px;
  border: none;
  background-color: #28a745;
  color: white;
  cursor: pointer;
}

.todo-input button:hover {
  background-color: #218838;
}

.todo-list {
  list-style: none;
  padding: 0;
}

.todo-list li {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  border: 1px solid #ccc;
  margin-bottom: 10px;
}

.todo-list li.completed span {
  text-decoration: line-through;
  color: #6c757d;
}

.todo-list li span {
  cursor: pointer;
}

.todo-list li button {
  border: none;
  background-color: #dc3545;
  color: white;
  cursor: pointer;
  padding: 5px 10px;
}

.todo-list li button:hover {
  background-color: #c82333;
}


